# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
beautifulsoup4=4.9.3
ca-certificates=2020.10.14
certifi=2020.11.8
chardet=3.0.4
click=7.1.2
flask=1.1.2
idna=2.10
itsdangerous=1.1.0
jinja2=2.11.2
joblib=0.17.0
markupsafe=1.1.1
nltk=3.5
openssl=1.1.1h
pip=20.2.4
pymongo=3.11.1
python=3.8.5
regex=2020.11.13
requests=2.25.0
setuptools=50.3.1
soupsieve=2.0.1
sqlite=3.33.0
textblob=0.15.3
tqdm=4.54.0
urllib3=1.26.2
vc=14.1
vs2015_runtime=14.16.27012
werkzeug=1.0.1
wheel=0.35.1
wincertstore=0.2
zlib=1.2.11
