{% include "header.html" %}
<body style="background: #ec008c;
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
    background: linear-gradient(to right, #fc6767, #ec008c);
">

    <div style="display: grid;
        place-content: center;
        height: 93vh;
        grid-template-rows: repeat(2, 1fr);
        margin: 1.3rem">

        <h1 class="display-4" style="text-align: center; color: #fff; align-self: end;">Product Analyser</h1>
        <form action="/reviews" method="POST" id="form">
            <div style="display: flex; margin-top: .5rem">
                <input
                    name="product_name"
                    class="form-control mr-sm-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                    required
                    id="search"
                    style="margin-right: .3rem">
                <button class="btn btn-primary" type="submit" id="search-btn">Search</button>
            </div>

        </form>
    </div>

    {% include "footer.html" %}
    <script>
        search_btn = document.getElementById("search-btn");
        form = document.getElementById("form");
        search = document.getElementById("search");
        search_btn.addEventListener("click", () => {
            if(search.value.length !== 0) {
                form.submit();
                search_btn.disabled = true;
                search_btn.innerHTML = "loading...";
            }
        })
    </script>
</body>
</html>