<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" >
</head>
<body style="background: #ec008c;
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
    background: linear-gradient(to right, #fc6767, #ec008c);
">

    <div style="display: grid;
        place-content: center;
        height: 100vh;
        grid-template-rows: repeat(2, 1fr);
        margin: 1.3rem">

        <h1 class="display-4" style="text-align: center; color: #fff; align-self: end;">Product Analyser</h1>
        <form action="/reviews" method="POST">
            <div style="display: flex; margin-top: .5rem">
                <input
                    name="product_name"
                    class="form-control mr-sm-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                    required
                    style="margin-right: .3rem">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>

        </form>


    </div>


</body>
</html>