{% include "header.html" %}
<body style="background: #ec008c;
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
    background: linear-gradient(to right, #fc6767, #ec008c);
">
    <style>
        .emotion-card {
            width: 4.3rem;
            margin-top: 1rem
        }
    </style>
    <h1
        style="color: #fff;
        text-align: center;
        margin: 2rem auto;"

    >
        Reviews of {{title}}
    </h1>

    <div
        style="display: grid;
            grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
            grid-gap: .5rem;
            margin: .5rem;
            place-content: center;"
    >
        <div class="card">
            <div style="display: flex; flex-direction: column; align-items: center; ">
                <div>
                    <img class="emotion-card" src="{{url_for('static', filename='happy.svg')}}" alt="happy" />
                </div>
                <h6>Happy</h6>
                <p>{{ sentiment[0] }}</p>
            </div>
        </div>

        <div class="card">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <div>
                    <img class="emotion-card" src="{{url_for('static', filename='neutral.svg')}}" alt="neutral" />
                </div>
                <h6>Neutral</h6>
                <p>{{ sentiment[1] }}</p>
            </div>
        </div>

        <div class="card">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <div>
                    <img class="emotion-card" src="{{url_for('static', filename='sad.svg')}}" alt="sad" />
                </div>
                <h6>Sad</h6>
                <p>{{ sentiment[2] }}</p>
            </div>
        </div>
    </div>


    <div class="mx-auto" style="max-width: 35rem;">
        {%for index in range(0, len)%}
            <div class="card bg-light" style="margin: .5rem;">
                <div class="card-header">
                    <h5 class="card-title">{{ reviews[index].heading }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-link btn btn-primary">{{ reviews[index].rating }} 🌟</p>
                    <p class="card-text">
                        {{ reviews[index].comment }}
                    </p>
                </div>
            </div>
        {%endfor%}
    </div>

    {% include "footer.html" %}
</body>
</html>